@model IEnumerable<KytsiKalku.Models.FuelData>

@{
    ViewData["Title"] = "Log data";
}

<table class="table table-striped table-dark" style="margin-top:100px">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TripName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripEnd)
            </th>
            <th>
                Drive length
            </th>
        </tr>
    </thead>
    <tbody>
        @{var Total = 0;var Fuel = 0;var Compensated = 0;}   
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TripName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriveDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TripEnd)
                </td>
                <td>
                    @{ 
                        var TripLength = item.TripEnd - item.TripStart;
                        Total= Total+TripLength;
                        Fuel = Total / 10;
                    }
                    @TripLength
                </td>

                <td>
                   <button type="button" class="btn btn-warning"><strong><a asp-action="Edit" style="color:azure !important" asp-route-id="@item.Id">Edit</a>    </strong></button>
                   <button type="button" class="btn btn-info">   <strong><a asp-action="Details" style="color:azure !important" asp-route-id="@item.Id">Details</a> </strong></button>
                   <button type="button" class="btn btn-danger"> <strong><a asp-action="Delete" style="color:azure !important" asp-route-id="@item.Id">Delete</a> </strong> </button>
                </td>
            </tr>
        }   <tr>
    <td>Total driven km is @Total</td>
    <td>@Fuel litres spent</td>
    <td><button type="button" class="btn btn-success"><strong><a asp-action="Create" style="color:azure !important"> Add new drivelog</a></strong></button></td>
</tr>
    </tbody>
</table>


