@model IEnumerable<KytsiKalku.Models.FuelData>

@{
    ViewData["Title"] = "Index";
}

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TripName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TripEnd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TripName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripEnd)
            </td>
            <td>

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create">Add new drive</a>
</p>
